# ![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Customer Analysis Round 5

For this lab, we still keep using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder.

### Get the data

We are using the `marketing_customer_analysis.csv` file.

### Dealing with the data

Already done in the round 2.

### Explore the data

Done in the round 3.

### Processing Data

(_Further processing..._)

- X-y split.
- Normalize (numerical).

In [1]:
import numpy as np
import pandas as pd

In [2]:
cfile = pd.read_csv('marketing_customer_analysis.csv')

In [3]:
cfile.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [4]:
cfile.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
x = cfile.drop(['Total Claim Amount'], axis = 1)

In [7]:
y = cfile['Total Claim Amount']

In [8]:
numerical = pd.DataFrame(cfile.select_dtypes(np.number))
categorical = pd.DataFrame(cfile.select_dtypes(object))

In [9]:
transformer = MinMaxScaler().fit(numerical)
x_normalized = transformer.transform(numerical)
print(x_normalized.shape)
x_normalized = pd.DataFrame(x_normalized, columns = numerical.columns)

(9134, 8)

In [10]:
cfile.corr()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
Customer Lifetime Value,1.000000,0.024366,0.396262,0.011517,0.009418,-0.036343,0.021955,0.226451
Income,0.024366,1.000000,-0.016665,-0.026715,-0.000875,0.006408,-0.008656,-0.355254
Monthly Premium Auto,0.396262,-0.016665,1.000000,0.005026,0.020257,-0.013122,-0.011233,0.632017
Months Since Last Claim,0.011517,-0.026715,0.005026,1.000000,-0.042959,0.005354,0.009136,0.007563
Months Since Policy Inception,0.009418,-0.000875,0.020257,-0.042959,1.000000,-0.001158,-0.013333,0.003335
Number of Open Complaints,-0.036343,0.006408,-0.013122,0.005354,-0.001158,1.000000,0.001498,-0.014241
Number of Policies,0.021955,-0.008656,-0.011233,0.009136,-0.013333,0.001498,1.000000,-0.002354
Total Claim Amount,0.226451,-0.355254,0.632017,0.007563,0.003335,-0.014241,-0.002354,1.000000

In [11]:
data_corr = pd.DataFrame(x_normalized, columns=numerical.columns).corr()

In [12]:
data_corr

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
Customer Lifetime Value,1.000000,0.024366,0.396262,0.011517,0.009418,-0.036343,0.021955,0.226451
Income,0.024366,1.000000,-0.016665,-0.026715,-0.000875,0.006408,-0.008656,-0.355254
Monthly Premium Auto,0.396262,-0.016665,1.000000,0.005026,0.020257,-0.013122,-0.011233,0.632017
Months Since Last Claim,0.011517,-0.026715,0.005026,1.000000,-0.042959,0.005354,0.009136,0.007563
Months Since Policy Inception,0.009418,-0.000875,0.020257,-0.042959,1.000000,-0.001158,-0.013333,0.003335
Number of Open Complaints,-0.036343,0.006408,-0.013122,0.005354,-0.001158,1.000000,0.001498,-0.014241
Number of Policies,0.021955,-0.008656,-0.011233,0.009136,-0.013333,0.001498,1.000000,-0.002354
Total Claim Amount,0.226451,-0.355254,0.632017,0.007563,0.003335,-0.014241,-0.002354,1.000000

# Round 6


# ![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Customer Analysis Round 6

For this lab, we still keep using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder.

### Get the data

We are using the `marketing_customer_analysis.csv` file.

### Dealing with the data

Already done in the round 2.

### Explore the data

Done in the round 3.

### Processing Data

(_Further processing..._)

- X-y split. (_done_)
- Normalize (numerical). (_done_)
- One Hot/Label Encoding (categorical).
- Concat DataFrames

### Linear Regression

- Train-test split.
- Apply linear regression.

### Model Validation

- Description:
  - R2.
  - MSE.
  - RMSE.
  - MAE.

In [ ]:
from sklearn.preprocessing import OneHotEncoder
# making a mold for the onehot-function 
encoder = OneHotEncoder().fit(categorical)

In [ ]:
# REMEMBER:
# we dont have X_num and X_cat here
# instead, we use our 'categorical' and 'numerical'

In [23]:
categorical

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [25]:
# dropping these columns: customer, effective to date, response
try:
    categorical = categorical.drop(columns=["Response","Customer", "Effective To Date"], axis = 1)
    print("deleted columns 'response', 'customer', 'effective to date'")
except:
    print("columns 'response', 'customer', 'effective to date' are already deleted.")

deleted columns 'response', 'customer', 'effective to date'

In [26]:
categorical

,State,Coverage,Education,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,Washington,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [43]:
# encoder = OneHotEncoder(drop='first').fit(categorical)

encoder = OneHotEncoder().fit(categorical)
cat_encoded = encoder.transform(categorical).toarray()
min_max_transformer = MinMaxScaler().fit(X)
X_normalized = min_max_transformer.transform(X)
min_max_X = pd.DataFrame(X_normalized, columns= X.columns)
cols = encoder.get_feature_names_out(input_features=categorical.columns)
onehot_encoded_X = pd.DataFrame(cat_encoded,columns=cols)
onehot_encoded_X.head(10)

,State_Arizona,State_California,State_Nevada,State_Oregon,State_Washington,Coverage_Basic,Coverage_Extended,Coverage_Premium,Education_Bachelor,Education_College,...,Sales Channel_Web,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
6,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [41]:
# combining again our numerical and categorical
X = pd.concat([x_normalized, onehot_encoded], axis=1)
X.columns

Index(['Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Total Claim Amount',
       'State_Arizona', 'State_California', 'State_Nevada', 'State_Oregon',
       'State_Washington', 'Coverage_Basic', 'Coverage_Extended',
       'Coverage_Premium', 'Education_Bachelor', 'Education_College',
       'Education_Doctor', 'Education_High School or Below',
       'Education_Master', 'EmploymentStatus_Disabled',
       'EmploymentStatus_Employed', 'EmploymentStatus_Medical Leave',
       'EmploymentStatus_Retired', 'EmploymentStatus_Unemployed', 'Gender_F',
       'Gender_M', 'Location Code_Rural', 'Location Code_Suburban',
       'Location Code_Urban', 'Marital Status_Divorced',
       'Marital Status_Married', 'Marital Status_Single',
       'Policy Type_Corporate Auto', 'Policy Type_Personal Auto',
       'Policy Type_Special Auto', 'Policy_Corporate L1',
       'Policy_Corporate L2', 'Policy_Corporate L3', 'Policy_Personal L1',
       'Policy_Personal L2', 'Policy_Personal L3', 'Policy_Special L1',
       'Policy_Special L2', 'Policy_Special L3', 'Renew Offer Type_Offer1',
       'Renew Offer Type_Offer2', 'Renew Offer Type_Offer3',
       'Renew Offer Type_Offer4', 'Sales Channel_Agent',
       'Sales Channel_Branch', 'Sales Channel_Call Center',
       'Sales Channel_Web', 'Vehicle Class_Four-Door Car',
       'Vehicle Class_Luxury Car', 'Vehicle Class_Luxury SUV',
       'Vehicle Class_SUV', 'Vehicle Class_Sports Car',
       'Vehicle Class_Two-Door Car', 'Vehicle Size_Large',
       'Vehicle Size_Medsize', 'Vehicle Size_Small'],
      dtype='object')

In [44]:
#Now lets separating y and X to train and test the machine. 
y1 = X["Total Claim Amount"]
X1 = X.drop(["Total Claim Amount"], axis = 1)

In [45]:
new_X = pd.concat([onehot_encoded_X, min_max_X], axis=1)

In [46]:
# Base Model
lm = linear_model.LinearRegression() #linear regression model, lm is linear model
lm.fit(new_X,y) #fit features and target to the model
print(lm.intercept_) #Intercept 
print(lm.coef_) #Coefficent for each column
r2_score(lm.predict(new_X),y)  #score is R2 score of the base model

-292.8252916498044
[ 3.46809148e+01 -1.38687666e+01  3.93276979e+01 -5.29954155e+01
  2.21003066e+01  1.04976385e+02 -4.07917997e+01  3.49498655e+00
 -3.57702220e+01  3.45310584e+00  2.43545298e+01  2.99828839e+02
 -2.11676536e+01 -3.89112143e+01 -4.90633503e+01  6.26913442e+01
  6.88279679e+01  5.55982630e+01 -8.60273704e+01  5.86191389e+00
 -3.99795463e+01  5.26583626e-01 -2.73966611e+01  2.27284046e+01
  2.32061023e+01  6.76627842e+01 -1.32446327e+02 -9.67119966e+01
 -8.36944768e+01 -7.13159073e+00  1.73129736e+01 -5.68099042e+01
 -1.30080904e+01 -1.34738807e+02 -2.79999405e+01 -5.79198699e+00
  9.42332689e-01 -5.59602409e+01  6.70282501e+01  1.02021317e+01
  8.94700537e+01  9.39401631e+01  8.16274788e+01  1.09443956e+01
 -2.45379412e+00  3.72068042e+01 -5.05852274e+01  4.70224949e+01
  1.12007135e+01  1.03842997e+01  2.24637705e+01 -1.87061476e+01
 -1.80348507e+01  3.97589370e+00  5.43501707e+01 -4.39648318e-14
 -4.12114787e-13 -6.61426469e-12 -3.05533376e-13 -8.88178420e-15
 -3.61599639e-13 -3.94351218e-13  2.89314067e+03 -3.11925709e+01
  1.73571104e+01 -3.58393540e+01  5.64837594e+01 -1.86119628e+01
  6.75980396e+01  2.13366224e+02  1.69079438e+02  1.38557917e+01
 -2.53675361e+01 -4.62689601e+01 -3.21743269e+02 -7.46776711e-01
  7.60912623e+01  8.62433983e+01 -2.55112962e+01 -3.16479199e+01
 -1.84182150e+01  4.59446422e+01 -4.59446422e+01  4.90847396e+01
  8.57860961e+00  3.65018543e+01 -8.45045806e+00 -8.92815579e+00
 -5.33848376e+01  1.66531991e+01  5.63806739e+01  1.25924532e+01
  8.11076979e+00 -1.63337945e+01  5.77890833e+01 -6.14745355e+01
  6.02561806e+01 -4.64826855e+01 -3.79199381e+01 -4.46542578e+01
  1.22483158e+01  1.90374233e+01  7.58635417e+01 -3.40438032e+00
 -7.87448970e+00 -3.05575745e+01  4.01255087e+01  5.35236984e+01
  1.38631001e+01  9.35111876e+01 -4.09653469e+00  3.17252467e+01
  3.25416605e+01  2.04621897e+01  6.16321078e+01  7.10827629e+01
  4.90720185e+01 -1.30225845e+00]

1.0

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import time
import sys

train_list1 = []
r2_list1 = []
mse_list1 = []
rmse_list1 = []
mae_list1 = []
testsize1 = []
bigger1 = []

# calculating for different test_size values
for i in range(1,10,1):

    X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=i/10, random_state=42)
    testsize1.append(i/10)

    # preparing linear model function and make a mold from the training + test data
    from sklearn import linear_model
    lm = linear_model.LinearRegression()
    lm.fit(X_train1,y_train1)

    # calculating R2 from training data
    predictions1 = lm.predict(X_train1)
    r2_train1 = r2_score(y_train1, predictions1)
    train_list1.append(r2_train1)

    # calculating R2 from test data
    predictions_test1 = lm.predict(X_test1)
    r2_1 = r2_score(y_test1, predictions_test1)
    r2_list1.append(r2_1)

    # calculating mean squared error (MSE)
    from sklearn.metrics import mean_squared_error
    mse1=mean_squared_error(y_test1,predictions_test1)
    mse_list1.append(mse1)

    # calculating root mean squared error (RMSE)
    rmse1 = np.sqrt(mean_squared_error(y_test1,predictions_test1))
    rmse_list1.append(rmse1)

    # calculating MAE 
    from sklearn.metrics import mean_absolute_error
    mae1 = mean_absolute_error(y_test1, predictions_test1)
    mae_list1.append(mae1)

    # bigger or smaller
    if r2_train1 < r2_1:
        bigger = "train < test"
    elif r2_train1 > r2_1:
        bigger = "train > test"
    else:
        bigger = "train = test"
    bigger1.append(bigger)


print("\n\nComparison of the R2_train and R2_test for different test sizes.")
compare1 = pd.DataFrame()
compare1["test_size"] = pd.DataFrame(testsize1)
compare1["r2_train"] = pd.DataFrame(train_list1)
compare1["r2_test"] = pd.DataFrame(r2_list1)
compare1["comparison"] = pd.DataFrame(bigger1)
display(compare1)

# displaying the metrics 
time.sleep(1)
print("results")
metrics1 = pd.DataFrame()
metrics1["test_size"] = pd.DataFrame(testsize1)
metrics1["MSE"] = pd.DataFrame(mse_list1)
metrics1["RMSE"] = pd.DataFrame(rmse_list1)
metrics1["MAE"] = pd.DataFrame(mae_list1)
display(metrics1)
print("MSE: mean squared error\nMSE: root mean squared error\nMAE: mean absolute error")

Comparison of the R2_train and R2_test for different test sizes.

   test_size  r2_train   r2_test    comparison
0        0.1  0.773857  0.750578  train > test
1        0.2  0.773571  0.762367  train > test
2        0.3  0.773581  0.764204  train > test
3        0.4  0.773188  0.766227  train > test
4        0.5  0.770634  0.768951  train > test
5        0.6  0.772964  0.766335  train > test
6        0.7  0.775786  0.763233  train > test
7        0.8  0.781706  0.763101  train > test
8        0.9  0.792008  0.750322  train > test

results

   test_size       MSE      RMSE       MAE
0        0.1  0.002397  0.048957  0.033515
1        0.2  0.002257  0.047511  0.032764
2        0.3  0.002300  0.047955  0.032831
3        0.4  0.002274  0.047688  0.032979
4        0.5  0.002271  0.047651  0.033248
5        0.6  0.002340  0.048369  0.033305
6        0.7  0.002359  0.048568  0.033452
7        0.8  0.002394  0.048930  0.033537
8        0.9  0.002493  0.049927  0.034968

MSE: mean squared error
MSE: root mean squared error
MAE: mean absolute error